/* This stylesheet will be selected when you export HTML from InDesign */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /*your style rules go in here */
  background-color: rgb(121, 193, 214);
  font-size: 18px;
  
  }

  a {
    text-decoration: none;
  }

main {
  background-color: rgb(220, 245, 220);
  width: 70%;
  margin: 0 auto;
  padding: 24px;
  min-width: 650px;
  margin-top: 90px;
  }

  .Basic-Paragraph {
    display: none;

  }

  input[type="checkbox"] {
    display: none;
  }
  
  .hamburger {
    display: none;
    font-size: 2rem;
    color: white;
  }



nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(31, 31, 89);
  font-size: 0.9rem;
  }
  nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
  li.home {
    margin-right: auto;
  }
  nav ul li {
  flex: 0 0 8rem; /*the same as flex-grow, flex-shrink, flex-basis */
  text-align: center;
  }
  /* we turn off the underline and set the padding and the color O */
  nav ul li a {
  text-decoration: none;
  padding: 0.8rem 0rem;
  display: block;
  color: aliceblue;;
  }
  /* feedback for the user with a background when hovering hover */
  nav ul li:hover {
  background-color: rgb(116, 185, 241);
  }
  nav ul li a:hover {
  color: rgb(30, 54, 74);
  }
  /* sub menus */
  li ul {
  display: none;
  position: absolute;
  background-color: rgb(235, 242, 223);
  }
  li ul li a {
  padding: 0.3rem 1.5rem;
  color: rgb(31, 31, 89);
  /*   font-size: 0.8rem; */
  }
  nav ul li:hover ul {
  display: flex;
  flex-direction: column;
  }
  nav ul li ul li {
  flex: 0 1 auto;
  width: 8rem; /* the same as the value for flex-basis on the parent li */
  }
  
section {
border:none;
border-width: 0;

}
.backtotop {
  position: fixed;
  bottom: 2px;
  right: 8px;
  opacity: 0.9;
  font-size: 36px;
  
}

/*Here follows the class names that you will have in your html*/
/*You may have more if you added styles in InDesign*/
/*You need to add the style attributes between the curly brackets*/

/* the following may not be used but it doesn't matter if they are listed here  */

/* If you ahe created any new styles in InDesign and used export tags then you need to add them here */
header {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  padding: 15px;
}


.dramatishead {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  margin-bottom: 18px;
  text-shadow: 5px 5px 5px rgb(125, 199, 225);

  
}

.character_role {
  font-style: italic;
  margin-left: 16px;
  font-size: 15px;
  
  
}

.charactername {
  text-align: right;
  margin-bottom: 1px

     
}



.Basic-Table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  
    
}

.play_location {
  text-align: center;
  font-style: italic;
  font-size: 36px;
  text-shadow: 5px 5px 5px rgb(125, 199, 225);
  margin-bottom: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
    

}

.play {
  font-weight: normal;

}
.sceneImage {
  width: 65%;
  max-width: 550px;
  margin: 24px auto;

}

img {
  width: 100%;
  display: block;
  /* max-height: 50vh; */

}
.act {
  text-align: center;
  text-transform: uppercase;
  font-size: 46px;
  font-weight: normal;
  margin-bottom: 16px;

}
.character {
  position: relative;
  top: 1.2em;
   
}


.location {
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  margin-bottom: 16px;

}

.firstscene {
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 16px;

}

.scene {
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 16px;

}

.song {
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;


}
.stagedirection {
  font-weight: normal;
  font-style: italic;
  font-size: 15px;
  text-align: right;
  margin-bottom: 6px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  

}
.verseline {
  margin: 0 0 0.4em 6em;
  margin-bottom: 7px;
  
}

.prose {
  margin: 0 0 0.4em 6em;
  margin-bottom: 7px;
}

.Epilogue {
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 16px;
}


.stage_directions_inline {
  font-style: italic;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

audio {
  width:100%;
  margin-top: 0.4em;
}

@media screen and (max-width: 580px){

  .hamburger {
    display: block;
    float: right;
    cursor: pointer;
  }

  nav ul {
    display: none;
  }

  nav li ul {
    position: static;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li ul li {
    width: 100%;
    }

   Input[type="checkbox"]:checked ~ ul {
    display: block;
  }

  main {
    width: 95%;
    min-width: 290px;
                   
  }

  header {
    font-size: 24px;
  }

  .verseline {
    margin: 0 0 0.4em 2em;
    font-size: 16px;
    
  }
  
  .prose {
    margin: 0 0 0.4em 2em;
    font-size: 16px;
  }

  .song {
    font-size: 16px;
  }
  .character {
    font-size: 16px;
    position: static;
  }
  audio {
    width: 100%;
  }
  .stagedirection {
    font-size: 14px;
  }
  .stage_directions_inline {
    font-size: 14px;
  }

  .backtotop {
    font-size: 22px;
  }

}
